.popup__send {
    width: 358px;
    height: 50px;
    margin: 40px auto 37px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    border: none;
}

@media all and (max-width: 767px) {
    .popup__send {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px auto 25px;
    }
}

.popup__send:hover {
    opacity: 0.8;
    cursor: pointer;
}