.popup__input-error {
    display: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 358px;
    margin-left: 36px;
    margin-top: 5px;
    margin-bottom: 13px;
    color: red;
}


@media all and (max-width: 767px) {
    .popup__input-error {
        width: 238px;
        margin-left: 22px;

    }
}