.list__place-like {
    background-image: url(../../../images/Like.svg);
    width: 22px;
    height: 19px;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-position: center;
    align-self: center;
    background-color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
}

.list__place-like:hover {
    opacity: 0.5;
}
