@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/lists/lists.css);
@import url(../blocks/list/list.css);
@import url(../blocks/list/__place/list__place.css);
@import url(../blocks/list/__place-photo/list__place-photo.css);
@import url(../blocks/list/__place-description/list__place-description.css);
@import url(../blocks/list/__place-title/list__place-title.css);
@import url(../blocks/list/__place-like/list__place-like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author-name/footer__author-name.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is-open/popup_is-open.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__send/popup__send.css);